*
!LICENSE
!README.md
!.gitconfig
!.gitignore
!.zshrc
!/.config/
!/.config/alacritty/
!/.config/alacritty/alacritty.yml
!/.config/git/
!/.config/git/config
!/.config/htop/
!/.config/htop/htoprc
!/.config/npm/
!/.config/npm/npmrc
!/.config/nvim/
!/.config/nvim/init.vim
!/.config/sway/
!/.config/sway/*
!/.config/waybar/
!/.config/waybar/*
!/.mozilla/firefox/chrome/
!/.mozilla/firefox/chrome/*
!/.var/
!/.var/app/
!/.var/app/com.valvesoftware.Steam/
!/.var/app/com.valvesoftware.Steam/.local/
!/.var/app/com.valvesoftware.Steam/.local/share/
!/.var/app/com.valvesoftware.Steam/.local/share/Steam/
!/.var/app/com.valvesoftware.Steam/.local/share/Steam/userdata/
!/.var/app/com.valvesoftware.Steam/.local/share/Steam/userdata/*/
!/.var/app/com.valvesoftware.Steam/.local/share/Steam/userdata/*/*/
!/.var/app/com.valvesoftware.Steam/.local/share/Steam/userdata/311204302/730/local/
!/.var/app/com.valvesoftware.Steam/.local/share/Steam/userdata/311204302/730/local/cfg/
!/.var/app/com.valvesoftware.Steam/.local/share/Steam/userdata/311204302/730/local/cfg/*.cfg
