{
  "layer": "top",
  "height": 32,
  "modules-left": [
    "sway/workspaces"
  ],
{{- if (eq .chezmoi.hostname "menara") }}
  "modules-right": [
    "cpu",
    "memory",
    "custom/volume",
    "clock",
    "tray"
  ],
{{- else if (eq .chezmoi.hostname "asing") }}
  "modules-right": [
    "custom/battery",
    "custom/bluetooth",
    "cpu",
    "memory",
    "network",
    "custom/volume",
    "clock",
    "tray"
  ],
{{ end }}
  "custom/battery": {
    "format": "BAT {}",
    "return-type": "json",
    "interval": 60,
    "escape": true,
    "exec": "$XDG_CONFIG_HOME/waybar/battery_indicator.sh"
  },
  "custom/bluetooth": {
    "format": "BLU {}",
    "return-type": "json",
    "interval": 60,
    "escape": true,
    "exec": "$XDG_CONFIG_HOME/waybar/bluetooth_indicator.sh",
    "on-click": "$XDG_CONFIG_HOME/waybar/bluetooth_toggle.sh && pkill -RTMIN+2 waybar",
    "signal": 2
  },
  "clock": {
    "format": "{:CLK %H:%M}",
    "tooltip-format": "{:%A\n%Y-%m-%d}"
  },
  "cpu": {
    "format": "CPU {usage}"
  },
  "memory": {
    "format": "MEM {}"
  },
  "network": {
    "format-wifi": "NET {signalStrength}",
    "tooltip-format-wifi": "{essid}\n{ipaddr}\nUp: {bandwidthUpBits}\nDown: {bandwidthDownBits}"
  },
  "custom/volume": {
    "format": "VOL {}",
    "return-type": "json",
    "interval": "once",
    "escape": true,
    "exec": "$XDG_CONFIG_HOME/waybar/volume_indicator.sh",
    "on-click": "amixer set Master toggle && pkill -RTMIN+1 waybar",
{{- if (eq .chezmoi.hostname "menara") }}
    "on-scroll-down": "amixer -M set Master 1%- && pkill -RTMIN+1 waybar",
    "on-scroll-up": "amixer -M set Master 1%+ && pkill -RTMIN+1 waybar",
{{- else if (eq .chezmoi.hostname "asing") }}
    "on-scroll-up": "amixer -M set Master 1%- && pkill -RTMIN+1 waybar",
    "on-scroll-down": "amixer -M set Master 1%+ && pkill -RTMIN+1 waybar",
{{- end }}
    "signal": 1
  },
  "tray": {
    "icon-size": 16,
    "spacing": 8
  }
}

